<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ground00.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{1440,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,59}}</string>
                <key>sourceSize</key>
                <string>{1440,59}</string>
            </dict>
            <key>Ground01.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{1440,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,59}}</string>
                <key>sourceSize</key>
                <string>{1440,59}</string>
            </dict>
            <key>Map00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1440,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,320}}</string>
                <key>sourceSize</key>
                <string>{1440,320}</string>
            </dict>
            <key>Map01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{1440,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,320}}</string>
                <key>sourceSize</key>
                <string>{1440,320}</string>
            </dict>
            <key>barrier.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1860},{51,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,53}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1860},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>continue_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1860},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>good1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1766},{157,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,177}}</string>
                <key>sourceSize</key>
                <string>{157,177}</string>
            </dict>
            <key>good2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1444},{78,85}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>good3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1611},{72,66}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{72,66}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>good4.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1766},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>good5.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1531},{78,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{78,66}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>pause_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1685},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>putong_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{640,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,320}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1766},{122,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{122,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1736},{120,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{120,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1766},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{122,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1766},{120,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{120,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>speed_shoes_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1860},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>start_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1444},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1590},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>to_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1685},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>to_home_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1685},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamesource.png</string>
            <key>size</key>
            <string>{768,1925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:469ce5ca8b7fea9a24cf271bbb8af754:48fb7b0a8560474826356d6a77c973e9:cdfbc5a30a65f3260fe9ada697981704$</string>
            <key>textureFileName</key>
            <string>gamesource.png</string>
        </dict>
    </dict>
</plist>
